.logo {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: white;
  user-select: none;
  margin: 2rem 0;

}